# numerics
numpy
scipy
statsmodels
pandas
scikit-learn
scikit-image
cupy-cuda110
optuna
kaleido
psutil

# plotting
matplotlib
seaborn

# various
sympy
tabulate
PyYAML
h5py
geopandas
descartes
tables
imageio-ffmpeg
